body {
  background: #fff;
  font-size: 14px;
  color: #333;
}

/*字体*/
.b {
  font-weight: bold;
}

.n {
  font-weight: normal;
}

// font-size:12px - 50px
@for $i from 12 through 50 {
  .f#{$i} {
    font-size: $i+px;
  }
}


/*边距*/
// margin:0px - 50px 
@for $i from 0 through 10 {

  // margin:0px - 50px 
  .m#{$i*5} {
    margin: $i*5px;
  }

  // margin-top:0px - 50px 
  .mt#{$i*5} {
    margin-top: $i*5px;
  }

  // margin-bottom:0px - 50px 
  .mb#{$i*5} {
    margin-bottom: $i*5px;
  }

  // margin-left:0px - 50px 
  .ml#{$i*5} {
    margin-left: $i*5px;
  }

  // margin-right:0px - 50px 
  .mr#{$i*5} {
    margin-right: $i*5px;
  }

  // padding:0px - 50px 
  .p#{$i*5} {
    padding: $i*5px;
  }

  // padding-top:0px - 50px 
  .pt#{$i*5} {
    padding-top: $i*5px;
  }

  // padding-bottom:0px - 50px 
  .pb#{$i*5} {
    padding-bottom: $i*5px;
  }

  // padding-left:0px - 50px 
  .pl#{$i*5} {
    padding-left: $i*5px;
  }

  // padding-right:0px - 50px 
  .pr#{$i*5} {
    padding-right: $i*5px;
  }
}


// 表单高度 一般用于弹出框 el-form 上面
.e-form-y {
  max-height: calc(100vh - 140px);
  overflow-y: auto;
}

// 宽度
.w100 {
  width: 100px
}

.w150 {
  width: 150px
}

.w200 {
  width: 200px
}

.w220 {
  width: 220px
}

.w240 {
  width: 240px
}

.w300 {
  width: 300px
}

/*布局*/
.e-main {
  min-width: 1200px;
}

.e-content {
  padding: 10px;
  background: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, .1);
  border-radius: 3px;
  box-sizing: border-box;
}

.e-relative {
  position: relative;
}

.e-absolute {
  position: absolute;
}

.e-fixed {
  position: fixed;
}



/*浮动*/
.fl {
  float: left;
}

.fr {
  float: right
}

/*对齐*/
.al {
  text-align: left;
}

.ac {
  text-align: center;
}

.ar {
  text-align: right;
}


/*辅助*/
.e-nowrap {
  white-space: nowrap;
}

.e-elip {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.e-disabled {
  background: #e8e8e8;
  color: #999;
  cursor: not-allowed
}

.e-pointer {
  cursor: pointer;
}

.e-show {
  display: block;
}

.e-hide {
  display: none;
}

.e-hidden {
  overflow: hidden;
}

.e-auto-x {
  overflow-x: auto;
}

.e-auto-y {
  overflow-y: auto;
}

.e-fieldset {
  border: 1px solid #d3dce6;
  border-radius: 2px;
}

.e-block {
  display: block;
}

.e-inline {
  display: inline-block;
}

.e-middle {
  vertical-align: middle;
}

.e-box {
  box-sizing: border-box;
}

.e-clear {
  clear: both;
}




/*高度*/
.hfull {
  height: 100%;
}

/*宽度*/
.wfull {
  width: 100%
}



/* 边框   */
.bt {
  border-top: 1px solid #dcdfe6;
}

.bb {
  border-bottom: 1px solid #dcdfe6;
}

.bl {
  border-left: 1px solid #dcdfe6;
}

.br {
  border-right: 1px solid #dcdfe6;
}

.ba {
  border: 1px solid #dcdfe6;
}

.bn {
  border: none;
}



/*背景色*/
.e-bg-gray {
  background: #f2f2f2;
}

/*灰色*/
.e-bg-qgray {
  background: #999;
}

/*灰色*/
.e-bg-white {
  background: #fff;
}

/*白色*/
.e-bg-black {
  background: #aaa;
  color: #fff
}

/*黑色*/
.e-bg-red {
  background: #ff0000;
  color: #fff
}

/*h*/
.e-bg-pink {
  background: #ff6969;
  color: #fff;
}

/*粉红主色*/
.e-bg-violet {
  background: #9965cc;
  color: #fff;
}

/*紫色*/
.e-bg-brown {
  background: #f1a85f;
  color: #fff;
}

/*棕色*/
.e-bg-crimson {
  background: #ac0222;
  color: #fff;
}

/*赤红*/
.e-bg-cyan {
  background: #33ba9b;
  color: #fff;
}

/*青色*/
.e-bg-blue {
  background: #189eff;
  color: #fff;
}

/*蓝色*/
.e-bg-green {
  background: #67c23a;
  color: #fff;
}

/*绿色*/
.e-bg-orange {
  background: #ff9906;
  color: #fff;
}

/*橙色*/
.e-bg-yellow {
  background: #E6A23C;
  color: #fff;
}

/*橙色*/

/*字体颜色*/
.e-text-pink {
  color: #ff6969;
}

/*粉红主色*/
.e-text-red {
  color: #ff0000 !important;
}

/*红色*/
.e-text-tred {
  color: #F56C6C;
}

/*A/特级红*/
.e-text-violet {
  color: #9965cc;
}

/*紫色*/
.e-text-brown {
  color: #f1a85f;
}

/*棕色*/
.e-text-gold {
  color: #ecda42
}

.e-text-crimson {
  color: #ac0222;
}

/*赤红*/
.e-text-cyan {
  color: #33ba9b;
}

/*青色*/
.e-text-blue {
  color: #189eff;
}

/*蓝色*/
.e-text-green {
  color: #67c23a;
}

/*绿色*/
.e-text-orange {
  color: #ff9906;
}

/*橙色*/
.e-text-gray {
  color: #666;
}

/*灰色*/
.e-text-qgray {
  color: #999;
}

/*灰色*/
.e-text-white {
  color: #fff;
}

/*白色*/
.e-text-black {
  color: #333;
}

/*黑色*/


/*布局*/
.e-flex {
  display: -webkit-box;
  /* Chrome 4+, Safari 3.1, iOS Safari 3.2+ */
  display: -moz-box;
  /* Firefox 17- */
  display: -webkit-flex;
  /* Chrome 21+, Safari 6.1+, iOS Safari 7+, Opera 15/16 */
  display: -moz-flex;
  /* Firefox 18+ */
  display: -ms-flexbox;
  /* IE 10 */
  display: flex;
}

.e-flex-center {
  display: flex;
  flex-flow: wrap;
  align-items: center;
  justify-content: center
}

/* 水平居中 */
.e-flex-hor {
  display: flex;
  justify-content: center
}

/* 垂直居中 */
.e-flex-ver {
  display: flex;
  align-items: center;
}

.e-cell {
  flex: 1
}

.e-shrink {
  flex-shrink: 1;
}

/* 水平垂直居中 */