body {
  background: #fff;
  font-size: 14px;
  color: #333;
}

// css前缀
@prefix-cls: d-;


// 字体
.b {
  font-weight: bold;
}

.n {
  font-weight: normal;
}

// font-size:12px - 50px
.fontLoop(@n, ) when (@n =< 50) {
  .f@{n} {
    font-size: (0px + @n)
  }

  .fontLoop(@n+1);
}

.fontLoop(12);


// 边距
// margin:0px - 50px 
.mLoop(@n, ) when (@n =< 50) {

  // margin:0px - 50px 
  .m@{n} {
    margin: (0px + @n)
  }

  // margin-top:0px - 50px 
  .mt@{n} {
    margin-top: (0px + @n)
  }

  // margin-bottom:0px - 50px 
  .mb@{n} {
    margin-bottom: (0px + @n)
  }

  // margin-left:0px - 50px 
  .ml@{n} {
    margin-left: (0px + @n)
  }

  // margin-right:0px - 50px 
  .mr@{n} {
    margin-right: (0px + @n)
  }

  // padding:0px - 50px 
  .p@{n} {
    padding: (0px + @n)
  }

  // padding-top:0px - 50px 
  .pt@{n} {
    padding-top: (0px + @n)
  }

  // padding-bottom:0px - 50px 
  .pb@{n} {
    padding-bottom: (0px + @n)
  }

  // padding-left:0px - 50px 
  .pl@{n} {
    padding-left: (0px + @n)
  }

  // padding-right:0px - 50px 
  .pr@{n} {
    padding-right: (0px + @n)
  }

  .mLoop(@n+5);
}

.mLoop(0);


/*浮动*/
.fl {
  float: left;
}

.fr {
  float: right
}

// 对齐
.al {
  text-align: left;
}

.ac {
  text-align: center;
}

.ar {
  text-align: right;
}





// 高度
.hfull {
  height: 100%;
}

// 宽度
.wfull {
  width: 100%
}



// 边框
.bt {
  border-top: 1px solid #dcdfe6;
}

.bb {
  border-bottom: 1px solid #dcdfe6;
}

.bl {
  border-left: 1px solid #dcdfe6;
}

.br {
  border-right: 1px solid #dcdfe6;
}

.ba {
  border: 1px solid #dcdfe6;
}

.bn {
  border: none;
}


// 表单高度 一般用于弹出框 el-form 上面
.@{prefix-cls} {

  // 布局

  &content {
    padding: 10px;
    background: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, .1);
    border-radius: 3px;
    box-sizing: border-box;
  }

  &relative {
    position: relative;
  }

  &absolute {
    position: absolute;
  }

  &fixed {
    position: fixed;
  }


  // 辅助
  // 不换行
  &nowrap {
    white-space: nowrap;
  }

  // 超出隐藏
  &elip {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

  &disabled {
    background: #e8e8e8;
    color: #999;
    cursor: not-allowed
  }

  &pointer {
    cursor: pointer;
  }

  &show {
    display: block;
  }

  &hide {
    display: none;
  }

  &hidden {
    overflow: hidden;
  }

  &auto-x {
    overflow-x: auto;
  }

  &auto-y {
    overflow-y: auto;
  }

  &fieldset {
    border: 1px solid #d3dce6;
    border-radius: 2px;
  }

  &block {
    display: block;
  }

  &inline {
    display: inlind-block;
  }

  &middle {
    vertical-align: middle;
  }

  &box {
    box-sizing: border-box;
  }

  &clear {
    clear: both;
  }


  // flex布局
  &flex {

    display: flex;
    flex-wrap: wrap;

    // 垂直水平居中
    &-center {
      display: flex;
      flex-flow: wrap;
      align-items: center;
      justify-content: center
    }

    // 水平居中 x轴居中
    &-x {
      display: flex;
      justify-content: center
    }

    // 垂直居中 y轴居中
    &-y {
      display: flex;
      align-items: center;
    }

    // x轴原点
    &-start {
      display: flex;
      justify-content: flex-start;
    }

    // x轴反方向
    &-end {
      display: flex;
      justify-content: flex-end;
    }


    // x轴有间隔地平分
    &-around {
      display: flex;
      justify-content: space-around;
    }

    // x轴平分
    &-between {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    // 顶部对齐
    &-top {
      align-items: flex-start;
    }

    // 底部对齐
    &-bottom {
      align-items: flex-end;
    }

  }




  &cell {
    flex: 1
  }

  &shrink {
    flex-shrink: 1;
  }
}