/**
* I think element-ui's default theme color is too light for long-term use.
* So I modified the default color and you can modify it to your liking.
**/

/* theme color */
$--color-primary: #279af2;
$--color-success: #13ce66;
$--color-warning: #ef733b;
$--color-danger: #ff4949;
// $--color-info: #1E1E1E;

$--button-font-weight: 400;

// $--color-text-regular: #1f2d3d;

$--border-color-light: #dfe4ed;
$--border-color-lighter: #dfe4ed;
$--border-color-base:#D7D7D7;

/// borderRadius|1|Radius|0
$--border-radius-base: 0 !default;
/// borderRadius|1|Radius|0
$--border-radius-small: 0 !default;
/// borderRadius|1|Radius|0
// $--border-radius-circle: 0 !default;
/// borderRadius|1|Radius|0
$--border-radius-zero: 0 !default;

/* icon font path, required */
$--font-path: '~element-ui/lib/theme-chalk/fonts';
@import "~element-ui/packages/theme-chalk/src/index";

.el-table thead {
  color: #666;
  font-weight: bold;
}

.el-table th {
  background-color: #F1F5F7;
}